* {
	margin: 0;
	padding: 0;
}


body{
	font-size: 16px;
	color: black;
	line-height: 100%;
}

.container{
    width: 1200px;
    margin: 0 auto;

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e0e0e0;
}
.logo{
}
.logo a{
}
.logo a img{
    margin-left: 100px;
}
nav{margin-right: 104px;}
nav ul{
    
margin: 0;
    
padding: 0;
    
list-style: none;
}
nav ul li{
   
display: inline-block;
   
margin: 0px 13px;
}
nav ul li a{
    
text-decoration: none;
    
text-transform: uppercase;
    
color: #4e4e4e;
    
display: block;
}

.bannar{
    width: 100%;
    height: 450px;
    background: url("../images/banner.png") no-repeat center center/cover;
}
.wrapper{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.wrapper h1{
    padding-bottom: 55px;
    font-size: 32px;
}
.wrapper h2{
    color: #a8a8a8;
    font-size: 22px;
}
.wrapper a{
    color: #f3f3f3;
    margin: 25px 0;
    background-color: #3f8dbf;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 12px;
}

.icon{padding-top: 70px;padding-bottom: 246px;}
#icon1{width: 25%;float: left;box-sizing: border-box;}
#icon1 img{
    padding-left: 104px;
    width: 100px;
    margin-bottom: 15px;
}
#icon1 h3{
    text-align: center;
}
#icon1 p{
    text-align: center;
    margin-top: 14px;
    line-height: 1.5em;
    margin: 20px;
}
#icon2{
    width: 25%;
    float: left;
    box-sizing: border-box;
}
#icon2 img{padding-left: 104px;width: 100px;margin-bottom: 15px;}
#icon2 h3{
    text-align: center;
}
#icon2 p{
    text-align: center;
    padding-top: 14px;
    line-height: 1.5em;
    margin: 11px;
}
#icon3{
    width: 25%;
    float: left;
    box-sizing: border-box;
}
#icon3 img{
    padding-left: 96px;
    width: 100px;
    margin-bottom: 15px;
}
#icon3 h3{
    text-align: center;
}
#icon3 p{
    text-align: center;
    margin-top: 14px;
    line-height: 1.5em;
    margin: 20px;
}
#icon4{
    width: 25%;
    float: left;
    box-sizing: border-box;
}
#icon4 img{
    padding-left: 100px;
    width: 100px;
    margin-bottom: 15px;
}
#icon4 h3{
    text-align: center;
}
#icon4 p{
    text-align: center;
    margin-top: 14px;
    line-height: 1.5em;
    margin: 17px;
}

.work{}

.work h5{
    margin: 0;
    padding: 0;
    padding-top: 30px;
    margin-top: 30px;
    border-top: 2px solid #e4e4e4;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 40px;
}
.box1{
    display: flex;
    text-align: center;
    margin-bottom: 25px;
}
.box2{
    text-align: left;
    margin: 0px 5px;
}
.box2 img{
    width: 100%;
    height: 260px;
    margin-bottom: 8px;
}
.box2 h4{
    margin-bottom: 5px;
    font-size: 17px;
}
.box2 span{
    color: #b7b7b7;
}
.box2 p{
    color: #bbb;
    font-size: 14px;
    margin-top: 10px;
    line-height: 1.6em;
    font-weight: normal;
}

.comments{background-color: #efefef;height: 246px;display: flex;justify-content: center;align-items: center;flex-direction: column;}
.comments img{
}
.comments p{
    font-size: 19px;
    line-height: 1.5em;
    color: #4e4e4e;
}

.contact{
    background: #1d1d1d;
    color: #6c6c6c;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    padding: 13px;
    height: 200px;
    border-bottom: 2px solid #e4e4e4;
}
.contact1{margin-top: 19px;}
.contact1 h6{
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 16px;
}
.contact1 ul{
    list-style: none;
    color: #cacaca;
}
.contact1 ul li{
    line-height: 2em;
}
.contact1 i{
}

.footer{background: #1d1d1d;color: #6c6c6c;height: 70px;text-align: left;padding-top: 3px;}
.copyright{
}
.copyright p{
    font-size: 17px;
    text-transform: capitalize;
    text-decoration: none;
    margin-left: 99px;
}
.copyright p a{
    color: #6c6c6c;
    text-decoration: none;
}
